@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

$shippori:'Shippori Antique', sans-serif;

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #121212;
    ;
}

h1 {
    text-align: center;
    margin-top: 250px;
    padding-top: 50px;
    text-shadow: 3px 2.5px white;
}
h2 {
    color: white;
    text-align: center;
    margin-top: 50px !important; 
}
h3 {
    color: white;
    text-align: center;
    margin-top: 80px;
}
form {
    text-align: center;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
table{
    margin-right: auto;
    margin-left: auto;
}
#banda {
    width: 15%;
}
#boton1 {
    position: relative;
    margin-left: 600px;
    top: 50px;
    color: white;
    background-color: purple;
    border: purple 2px;
    padding: 5px;
}
#boton2 {
    position: relative;
    margin-left: 600px;
    top: 50px;
    color: white;
    background-color: purple;
    border: purple 2px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#boton3 {
    position: relative;
    margin-left: 600px;
    top: 50px;
    color: white;
    background-color: purple;
    border: purple 2px;
    padding: 5px;
    margin-bottom: 15px;
}
.textoDireccion {
    text-align: right;
    margin-right: 200px;
    position: relative;
    top: 60px;
}
.alert-success { 
    width: 20%;
    top: 262px;
    left: 1085px;
}

.alert-danger {
    position: sticky;
    width: 22%;
    top: 302px;
    left: 1060px;
}